@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

@import "./base/color.scss";
@import "./base/setting.scss";
@import "./base/mixins.scss";

@import "./modules/modules.scss";



